<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
            #a {font-family: 'Open Sans', sans-serif;}
            #q {font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                margin-top: 20px;}
            #edit, #delete {
                margin: 20px 10px 20px 5px;
                position: relative;
                left: 75%;   
            }

            #stackOverflow {
                margin: 10px 10px 10px 20px;
            }

    </style>
</head>
<body>
    <div class="row" id="header">
        <div class="col-xs-1 col-md-1"><a href="/users/signedin/{{#each user}}{{id}}{{/each}}" id="stackOverflow" style="text-decoration:none; color: black">StackOverflow</a></div>
        <div class="col-xs-1 col-md-1">
        </div>
        <div class="col-xs-5 col-md-5"></div>
        <div class="col-xs-1 col-md-1">
        </div>
        <div class="col-xs-1 col-md-1"><a href="/users/{{#each user}}{{id}}{{/each}}/yourlist" style="text-decoration:none; color: red">Your list</a>
        </div>
        <div class="col-xs-1 col-md-1" id="signup"><a href="/users/{{#each user}}{{id}}{{/each}}/addtolist" style="text-decoration:none; color: black">Add to list</a></div>
        <div class="col-xs-1 col-md-1" id="login">
            <p style="color: red">{{#each user}}{{name}}{{/each}}</p>
        </div>
        <div class="col-xs-1 col-md-1" id="signup"><a href="/" style="text-decoration:none">Log out</a></div>
    </div>
    {{!-- logo --}}
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6" id="logo">
            <img src="/images/logo.png" class="img-responsive center-block">
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
    {{!-- questions list --}}
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6">
            {{#each questions}}
            <p style="background: #ff7f50" id="q">{{question}}</p>
            <p style="background: #cfcf30" id="a">{{answer}}</p>
            <form class="form-horizontal" action="/users/{{client_Id}}/delete/{{id}}?_method=DELETE" method="POST">
            <a type="button" href="/users/{{client_Id}}/edit/{{id}}" id="edit" class="btn btn-warning">edit</a><button type="submit" id="delete" class="btn btn-danger">delete</button>
            {{/each}}
            </form>
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
</body>

</html>
